<div id="content" class="container-fluid">
    <div class="md-toolbar-tools" style="margin-top: 16px;">
        <h1 md-truncate="" flex="" translate>History of Maintenances</h1>
        <md-input-container class="md-block">
            <label translate>Start date</label>
            <input type="date" ng-model="export_startdate" />
        </md-input-container>
        <md-input-container>
            <label translate>End date</label>
            <input type="date" ng-model="export_enddate" />
        </md-input-container>
    </div>
    <div class="md-toolbar-tools">
        <div style="margin-left: auto">
            <a href="index.html#!/maintenancemanagement">
                <md-button>
                    <md-icon>arrow_back</md-icon><span translate>Back</span>
                </md-button>
            </a>
            <a href="index.html#!/maintenance">
                <md-button class="md-raised md-primary" aria-label="Add">
                    <md-icon class="material-icons" role="img" aria-hidden="true">add</md-icon>
                    <md-tooltip md-direction="top">
                        <span translate>Add a new maintenance</span>
                    </md-tooltip>
                </md-button>
            </a>
            <a href="">
                <md-button ng-click="donwload()" class="md-raised md-primary">
                    <md-icon md-menu-align-target>get_app</md-icon> <span translate>Export all</span>
                </md-button>
            </a>
            <a href="">
                <md-button ng-click="downloadByHigherFailure(export_startdate,export_enddate)"
                    class="md-raised md-primary">
                    <md-icon md-menu-align-target>get_app</md-icon> <span translate>HIGH FAILURE RATE</span>
                </md-button>
            </a>
        </div>
    </div>
    <md-toolbar layout="row" class="md-table-toolbar md-default">
        <div class="md-toolbar-tools" flex layout="row">
            <input flex type="search" name="search" ng-model="searchAll.equipment.name"
                placeholder="{{ 'Search by Equipement...' | translate }}">
        </div>
    </md-toolbar>
    <md-card>
        <md-table-container class="container" fixed-column-table>
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column md-order-by="id"><span translate>Ref.</span></th>
                        <th md-column md-order-by="equipment.name"><span translate>Equipment</span></th>
                        <th md-column md-order-by="maintenanceType.name"><span translate>Type</span></th>
                        <th md-column md-order-by="maintenance.name"><span translate>Task</span></th>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        
                        <th md-column style="width:150px"><span translate>Actions</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row data-ng-repeat="maintenance in maintenances | orderBy:query.order | filter:searchAll ">
                        <td md-cell>{{maintenance.id}}</td>
                        <td md-cell>{{maintenance.equipment.name}}</td>
                        <td md-cell>{{maintenance.maintenanceType.name}}</td>
                        <td md-cell>{{maintenance.name}}</td>
                        <td md-cell>
                            <span ng-if="maintenance.status==0" translate>To do<br/> </span> 
                            <span ng-if="maintenance.status==1" translate>In Progress</span>
                            <span ng-if="maintenance.status==2" translate>Completed</span>
                            <small style="color: {{isFutureDate(maintenance.dueDate) ?'red':'gray'}}" ng-if="maintenance.dueDate && (maintenance.status==0 || maintenance.status==1)">(due date: {{maintenance.dueDate | date: 'dd-MM-yyyy'}})</small>
                        </td>
                        <td>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="Edit"
                                ng-click="openEdit(maintenance)" ng-if="maintenance.status==0 || maintenance.status==1">
                                <md-icon class="material-icons" role="img" aria-hidden="true">edit</md-icon>
                                <md-tooltip md-direction="top"><span translate>Edit</span></md-tooltip>
                            </button>
                            <button ng-if="maintenance.status==2" class="md-fab md-mini md-primary md-button" type="button"
                                aria-label="History" ng-click="openEdit(maintenance)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">visibility</md-icon>
                                <md-tooltip md-direction="top"><span translate>Request detail</span></md-tooltip>
                            </button>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="Delete"
                                    ng-click="delete($event,maintenance)" ng-if="maintenance.status==0 || maintenance.status==1">
                                <md-icon class="material-icons" role="img" aria-hidden="true">delete</md-icon>
                                <md-tooltip md-direction="top"><span translate>Delete</span></md-tooltip>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{query.count}}"
            md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
            md-limit-options="[25, 50, 100]" md-on-paginate="logPagination" md-label="$parent.label">
        </md-table-pagination>
    </md-card>
</div>