<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="" translate>History of Maintenances</h1>
        <a href="index.html#!/maintenancemanagement">
            <md-button>
                <md-icon>arrow_back</md-icon><span translate>Back</span>
            </md-button>
        </a>
        <a href="index.html#!/maintenance">
            <md-button class="md-raised md-primary" aria-label="Add">
                <md-icon class="material-icons" role="img" aria-hidden="true">add</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Add a new maintenance</span>
                </md-tooltip>
            </md-button>
        </a>

        <a href="">
            <md-menu>
                <md-button class="md-raised md-primary" aria-label="Add" ng-click="openMenu($mdMenu, $event)">
                    <md-icon>cloud_download</md-icon> <span translate>Export</span>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="donwload()">
                            <md-icon md-menu-align-target>get_app</md-icon> <span translate>Export all</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="downloadByHigherFailure(export_startdate,export_enddate)">
                            <md-icon md-menu-align-target>schedule</md-icon><span translate>Export higher failure</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </a>
    </div>
    <md-toolbar layout="row" class="md-table-toolbar" style="display:flex; height:40px">
        <md-input-container>
            <label translate>Start date</label>
            <input type="date" ng-model="export_startdate" />
        </md-input-container>
        <md-input-container>
            <label translate>End date</label>
            <input type="date" ng-model="export_enddate" />
        </md-input-container>
    </md-toolbar>
    <md-toolbar layout="row" class="md-table-toolbar md-default">
        <div class="md-toolbar-tools" flex layout="row">
            <input flex type="search" name="search" ng-model="searchAll.equipment.name"
                placeholder="{{ 'Search by Equipement...' | translate }}">
        </div>
    </md-toolbar>
    <md-card>
        <md-table-container class="container" fixed-column-table>
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column md-order-by="id"><span translate>Ref.</span></th>
                        <th md-column md-order-by="maintenanceType.name"><span translate>Type</span></th>
                        <th md-column md-order-by="startdate | date: 'dd/MM/yyyy'"><span translate>Start Date</span>
                        </th>
                        <th md-column md-order-by="enddate | date: 'dd/MM/yyyy'"><span translate>End Date</span></th>
                        <th md-column md-order-by="status"><span translate>Status</span></th>
                        <th md-column md-order-by="equipment.name"><span translate>Equipment</span></th>
                        <th md-column style="width:150px"><span translate>Actions</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row data-ng-repeat="maintenance in maintenances | orderBy:query.order | filter:searchAll ">
                        <td md-cell>{{maintenance.id}}</td>
                        <td md-cell>{{maintenance.maintenanceType.name}}</td>
                        <td md-cell>{{maintenance.startdate | date: 'dd/MM/yyyy, h:mma'}}</td>
                        <td md-cell>{{maintenance.enddate | date: 'dd/MM/yyyy, h:mma'}}</td>
                        <td md-cell>
                            <span ng-if="maintenance.status==1" translate>In Progress</span><span
                                ng-if="maintenance.status==2" translate>Completed</span>
                        </td>
                        <td md-cell>{{maintenance.equipment.name}}</td>
                        <td>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="Edit"
                                ng-click="openEdit(maintenance)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">edit</md-icon>
                                <md-tooltip md-direction="top"><span translate>Edit</span></md-tooltip>
                            </button>
                            <button class="md-fab md-mini md-primary md-button" type="button" aria-label="Delete"
                                ng-click="delete($event,maintenance)">
                                <md-icon class="material-icons" role="img" aria-hidden="true">delete</md-icon>
                                <md-tooltip md-direction="top"><span translate>Delete</span></md-tooltip>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{query.count}}"
            md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
            md-limit-options="[25, 50, 100]" md-on-paginate="logPagination" md-label="$parent.label">
        </md-table-pagination>
    </md-card>
</div>