<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="" translate>New maintenance</h1>
        <a href="index.html#!/maintenances">
            <md-button>
                <md-icon>arrow_back</md-icon><span translate>Back</span>
            </md-button>
        </a>
    </div>
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <form name="maintenanceForm" ng-submit="save()">
        <md-card ng-if="!loading">
            <md-card-title translate>Equipment information</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-switch  flex ng-model="findByRequest" aria-label="Validated" ng-disabled="editMode || maintenance.maintenanceEvent" ng-change="toggleRequest(findByRequest)">
                        <span >{{'Find by maintenance request'| translate}}</span>
                    </md-switch> 
                    <md-input-container class="md-block" flex-gt-sm flex="66" ng-if="findByRequest" ng-disabled="editMode">
                        <label translate>Maintenance request Ref. N°:</label>
                        <md-select ng-disabled="editMode" name="selectedMaintenanceRequest" ng-model="selectedMaintenanceRequest" ng-change="selectedMaintenanceRequestChange(selectedMaintenanceRequest)" required
                                   >
                            <md-option ng-repeat="o in activeMaintenancesRequests" ng-value="o" ng-selected="selectedMaintenanceRequest && o.id == selectedMaintenanceRequest.id">
                                [Ref#{{o.id}}] | Register N°: {{o.registerNumber}} | {{o.equipment.name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="form.selectedMaintenanceRequest.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                {{'This field is mandatory'| translate}}
                            </div>
                        </div>
                    </md-input-container>
                </div>


                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-autocomplete autoFocus class="md-block" flex-gt-sm ng-if="!findByRequest" 
                                     md-floating-label="{{'Search equipment'| translate}}" md-selected-item="selectedItem"
                                     md-search-text="searchText" md-items="item in getEquipments(searchText)"
                                     md-item-text="item.name" md-clear-button="true"
                                     md-selected-item-change="selectedEquipmentChange(item)" required flex>
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            <span translate>No matches found.</span>
                        </md-not-found>
                    </md-autocomplete>
                    <md-input-container class="md-block" flex-gt-sm required flex
                                        ng-if="findByRequest" ng-disabled="maintenance.maintenanceEvent">
                        <label>{{"Search equipment"| translate}}</label>
                        <input class="form-control" disabled type="text" ng-model="selectedItem">
                    </md-input-container>

                </div>

            </md-card-content>
        </md-card>
        <md-card ng-if="!loading">
            <md-card-title>Maintenance information</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex="50" >
                        <label translate>Type of maintenance</label>
                        <md-select ng-model="maintenance.maintenanceType.id" required ng-disabled="maintenance.maintenanceEvent">
                            <md-option ng-repeat="t in maintenance_types" ng-value="t.id">
                                {{t.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label translate>Done by</label>
                        <input ng-model="maintenance.doneby" required>
                    </md-input-container>
                </div>

                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>Reason</label>
                        <textarea ng-model="maintenance.reason" ng-disabled="maintenance.maintenanceEvent"></textarea>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex="50">
                        <label translate>Task name</label>
                        <textarea ng-model="maintenance.name" ng-disabled="maintenance.maintenanceEvent" required></textarea>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label translate>Task description</label>
                        <textarea ng-model="maintenance.description"></textarea>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>Start date</label>
                        <input type="datetime-local" required ng-model="maintenance.startdate" />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>End date</label>
                        <input type="datetime-local" ng-model="maintenance.enddate" />
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" ng-if="maintenance.maintenanceEvent">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>Due date</label>
                        <input type="date" disabled required ng-model="maintenance.dueDate" />
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block md-input-has-value">
                        <label translate>Status *</label>
                        <md-radio-group ng-model="maintenance.status" layout="row" name="property" required ng-disabled="maintenance.status===2">
                            <md-radio-button value="0" class="md-primary"><span translate>To do</span>
                            </md-radio-button>
                            <md-radio-button value="1" class="md-primary"><span translate>In Progress</span>
                            </md-radio-button>
                            <md-radio-button value="2" class="md-primary"><span translate>Completed</span>
                            </md-radio-button>
                        </md-radio-group>
                        <div ng-messages="form.property.$error">
                            <div ng-message="required" translate>Please choose a status.</div>
                        </div>
                    </md-input-container>
                </div>
                </md-card_content>
        </md-card>
        <div layout="row" layout-xs="column" ng-if="!loading">
            <md-button class="md-raised md-primary" aria-label="Add" type="submit" ng-disabled="maintenance.status===2">
                <md-icon>save</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Save</span>
                </md-tooltip> 
                <span translate>Save</span>
            </md-button>
            <a href="index.html#!/maintenances">
                <md-button>
                    <md-icon>arrow_back</md-icon><span translate>Cancel</span>
                </md-button>
            </a>
        </div>
    </form>
</div>