<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="" translate>Request for maintenance </h1>
        <a href="index.html#!/requests">
            <md-button>
                <md-icon>arrow_back</md-icon><span translate>Back</span>
            </md-button>
        </a>
        <md-button class="md-raised md-primary" aria-label="Add"
            ng-if='validateBtn.visible'
            ng-disabled="!validateBtn.enabled"
            ng-click="approve()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">check_circle</md-icon>
            <md-tooltip md-direction="top">
                <span>{{validateBtn.text}}</span>
            </md-tooltip>
            {{validateBtn.text}}
        </md-button>

        <md-button class="md-raised md-accent" aria-label="Add"
            ng-if='validateBtn.enabled && validateBtn.visible '
            ng-click="reject()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">cancel</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Cancel</span>
            </md-tooltip>
            {{'Cancel' | translate}}
        </md-button>
    </div>
    <form name="form" ng-submit="save()">
        <md-card>
            <md-card-title>
                <span translate>General information</span>
            </md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-autocomplete ng-disabled="!isEditable" md-selected-item="selectedEquipment" md-search-text="equipmentSearchText"
                        md-items="equipment in searchEquipments(equipmentSearchText)" md-item-text="equipment.name"
                        class="md-block" flex-gt-sm md-floating-label="{{'Equipment name' | translate}}"
                        md-clear-button="true" md-no-cache="true"
                        md-selected-item-change="selectedEquipmentChange(equipment,$index)" flex="100" required>
                        <md-item-template>
                            <span md-highlight-text="equipmentSearchText">{{equipment.name}} | </span>
                            <span translate>Location</span>
                            <span>:</span>
                            <span>
                                {{equipment.site.name}}, {{equipment.site.service.name}},
                                {{equipment.site.service.healthcenter.name}},
                                {{equipment.site.service.healthcenter.district.name}}
                            </span>
                        </md-item-template>
                        <md-not-found>
                            <span translate>No matches found.</span>
                        </md-not-found>
                    </md-autocomplete>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Request by</label>
                        <input ng-disabled="!isEditable" required ng-model="request.requestedby">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Register number</label>
                        <input ng-disabled="!isEditable" required ng-model="request.registerNumber">
                    </md-input-container>
                </div>

            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title translate>Intervention information</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block md-input-has-value" flex>
                        <label translate>Nature of work</label>
                        <md-select ng-disabled="!isEditable" required ng-model="request.natureOfWork">
                            <md-option ng-repeat="n in natureofworks" ng-value="n.id">
                                {{n.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Priority</label>
                        <md-select ng-disabled="!isEditable" required ng-model="request.priority">
                            <md-option ng-repeat="p in prioritys" ng-value="p.id">
                                {{p.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex="100">
                        <label translate>Date of request for intervention</label>
                        <input ng-disabled="!isEditable" required type="datetime-local" ng-model="request.creation"
                            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block md-input-has-value" flex="100">
                        <label translate>Request’s reason</label>
                        <textarea ng-disabled="!isEditable" required ng-model="request.motif"></textarea>
                    </md-input-container>
                </div>

            </md-card-content>
        </md-card>

        <div layout="row" layout-xs="column">
            <md-button ng-disabled="!isEditable" class="md-raised md-primary" aria-label="Add" type="submit">
                <md-icon>save</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Save</span>
                </md-tooltip>
                <span translate>Save</span>
            </md-button>
            <a href="index.html#!/requests">
                <md-button aria-label="Add">
                    <md-icon>cancel</md-icon>
                    <span translate>Cancel</span>
                </md-button>
            </a>
        </div>
    </form>
</div>