<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{appTitle}}</h1>
        <a href="index.html#!/maintenanceSchedule">
            <md-button>
                <md-icon>arrow_back</md-icon><span translate>Back</span>
            </md-button>
        </a>
        <md-button class="md-raised md-primary" aria-label="Add" ng-if='validateBtn.visible  '
            ng-disabled="!validateBtn.enabled" ng-click="approve()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">check_circle</md-icon>
            <md-tooltip md-direction="top">
                <span>{{validateBtn.text}}</span>
            </md-tooltip>
            {{validateBtn.text}}
        </md-button>

        <md-button class="md-raised md-accent" aria-label="Add" ng-if='validateBtn.enabled && validateBtn.visible '
            ng-click="reject()">
            <md-icon class=" material-icons" role="img" aria-hidden="true">cancel</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Cancel</span>
            </md-tooltip>
            {{'Cancel' | translate}}
        </md-button>
    </div>

    <form name="scheduleForm" ng-submit="save()">
        <md-card ng-if="!loading">
            <md-card-title translate>Equipment information</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-autocomplete autoFocus class="md-block" flex-gt-sm
                        md-floating-label="{{'Search equipment'| translate}}" md-selected-item="selectedItem"
                        md-search-text="searchText" md-items="item in getEquipments(searchText)"
                        md-item-text="item.name" md-clear-button="true"
                        md-selected-item-change="selectedEquipmentChange(item)" required flex>
                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            <span translate>No matches found.</span>
                        </md-not-found>
                    </md-autocomplete>
                </div>
            </md-card-content>
        </md-card>
        <md-card ng-if="!loading">
            <md-card-title>Maintenance information</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex="50">
                        <label translate>Task name</label>
                        <textarea ng-model="schedule.name" required></textarea>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50">
                        <label translate>Task description</label>
                        <textarea ng-model="schedule.description"></textarea>
                    </md-input-container>
                </div>
                </md-card_content>
        </md-card>
        <md-card ng-if="!loading">
            <md-card-title>Periodical timeline information</md-card-title>
            <md-card-content>
                <md-switch flex ng-model="schedule_type" aria-label="Validated" ng-disabled="editMode"
                    ng-change="toggleSchedule(schedule_type)">
                    <span>{{'is it a Periodical schedule?'| translate}}</span>
                </md-switch>
                <div layout="row" layout-xs="column" ng-if='is_periodical'>
                    <md-input-container class="md-block" flex="50">
                        <label translate>Type of schedule</label>
                        <md-select ng-model="schedule.type.id" required>
                            <md-option ng-repeat="s in schedule_types" ng-value="s.id">
                                {{s.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>Start date</label>
                        <input type="datetime-local" required ng-model="schedule.startdate" />
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" ng-if='!is_periodical'>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>Schedule date</label>
                        <input type="datetime-local" required ng-model="schedule.scheduledate" />
                    </md-input-container>
                </div>
                </md-card_content>
        </md-card>
        <div layout="row" layout-xs="column" ng-if="!loading">
            <md-button class="md-raised md-primary" aria-label="Add" type="submit">
                <md-icon>save</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Save</span>
                </md-tooltip>
                <span translate>Save</span>
            </md-button>
            <a href="index.html#!/maintenanceSchedule">
                <md-button aria-label="Add">
                    <md-icon>cancel</md-icon>
                    <span translate>Cancel</span>
                </md-button>
            </a>
        </div>
    </form>
</div>