<div id="content" class="container-fluid">

    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="" translate>Equipment types management</h1>
    </div>    
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>   
    <md-card  ng-show="!loading">
        <md-card-title translate>Add/Modify equipment type</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column" class="flex flex-col">                                        
                <md-input-container class="md-block md-input-has-value" flex="100">
                    <label translate>Type Name</label>
                    <input type="text" required ng-model="equipmentType.typeName"/>
                </md-input-container>  
            </div>     
            <div layout="row" layout-xs="column">
                <md-button class="md-raised md-primary" aria-label="Add" ng-click="clearEquipmentType()" >
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction="top">
                        <span translate>Add a new equipment type</span>
                    </md-tooltip>
                    <span translate>New</span>
                </md-button>
                <md-button class="md-raised md-primary" aria-label="Add" ng-click="saveEquipmentType()" >
                    <md-icon>save</md-icon>
                    <md-tooltip md-direction="top">
                        <span translate>Save</span>
                    </md-tooltip>
                    <span translate>Save</span>
                </md-button>
            </div>          
        </md-card-content>
    </md-card>  
    <md-card  ng-show="!loading">
        <md-card-title translate>List</md-card-title>
        <md-card-content>
            <md-table-container class="container" fixed-column-table>
                <table md-table md-progress="promise">
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="typeName"><span translate>Name</span></th>
                            <th md-column ><span translate>Actions</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row data-ng-repeat="data in equipmentTypes" >
                            <td md-cell >{{data.typeName}}</td>
                            <td md-cell >
                                <button ng-click="readEquipmentType(data)" class=" md-primary md-button"
                                    type="button" aria-label="Add">
                                    <md-icon class=" material-icons" role="img" aria-hidden="true">edit</md-icon>
                                    <span translate>Edit</span>
                                </button>
                                <button ng-click="deleteEquipmentType(data)" class=" md-primary md-button"
                                    type="button" aria-label="Remove">
                                    <md-icon class="material-icons" role="img" aria-hidden="true">delete</md-icon>
                                    <span translate>Delete</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="[10, 15, 50, 100]" md-page="query.page" md-total="{{equipmentTypes.count}}" md-page-select="true">
            </md-table-pagination>
        </md-card-content>
    </md-card>
</div>

