<div id="content" class="container-fluid">

    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">Operation approval</h1>
    </div>    
          
    <md-card >
        <md-card-title translate>Operation details</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column"  class="flex flex-col">
                <md-input-container class="md-block" flex="33">
                    <label translate>Code</label>
                    <input disabled ng-model="operation.code">
                </md-input-container>
                <md-input-container  class="md-block" flex="33">
                    <label translate>Date</label>
                    <input disabled type="date" ng-model="operation.code">
                </md-input-container> 
                <md-input-container class="md-block"  flex="33">
                    <label translate>Type</label>
                    <input disabled type="date" ng-model="operation.code">
                </md-input-container>             
            </div>
            <div layout="row" layout-xs="column" class="flex flex-col">           
                <md-input-container class="md-block"  flex="100" ng-if="operation.operation_type_id == 2">
                    <label translate>Source</label>
                    <input disabled type="date" ng-model="operation.code">
                </md-input-container>
                <md-input-container class="md-block"  flex="33" ng-if="operation.operation_type_id == 2">
                    <label translate>Destination</label>
                    <input disabled type="date" ng-model="operation.code">
                </md-input-container>
            </div>    
            <div layout="row" layout-xs="column"  class="flex flex-col">             
                <md-input-container class="md-block md-input-has-value" flex="100">
                    <label translate>Motif</label>
                    <textarea disabled ng-model="operation.motif"></textarea>
                </md-input-container>                            
            </div>                
                   
        </md-card-content>
    </md-card>  
    <div layout="row" layout-xs="column">
        <md-button class="md-raised md-primary" >
            <md-icon>check</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Approve</span>
            </md-tooltip>
            Approve
        </md-button>
        <md-button class="md-raised md-accent" >
            <md-icon>close</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Decline</span>
            </md-tooltip>
            Decline
        </md-button>
    </div>   
</div>