<div id="content" class="container-fluid">           
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">Equipments management</h1>
        <a href = "index.html#!/equipment">
            <md-button class="md-raised md-primary" aria-label="Add" >
                <md-icon class=" material-icons" role="img" aria-hidden="true">add</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Add new equipment</span>
                </md-tooltip>
                Add new
            </md-button>
        </a>       
    </div>   
    
    <md-card>
        <md-card-content>
            <md-table-container class="container" fixed-column-table>
                <table md-table md-progress="promise">
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="serialnumber"><span translate>Serial No</span></th>
                            <th md-column md-order-by="designation"><span translate>Designation</span></th>
                            <th md-column md-order-by="type" ><span translate>type</span></th>
                            <th md-column md-order-by="department" ><span translate>Department</span></th>
                            <th md-column md-order-by="localization"><span translate>Localization</span></th>
                            <th md-column md-order-by="actions"><span translate>Actions</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row data-ng-repeat="data in equipments" >
                            <td md-cell >{{data.serialNumber}}</td>
                            <td md-cell>{{data.designation}}</td>
                            <td md-cell >{{data.equipmentType.typeName}}</td>
                            <td md-cell >{{data.department.departmentName}}</td>
                            <td md-cell >{{data.localization}}</td>
                            <td md-cell >
                                <button ng-click="view(data)" class=" md-primary md-button"
                                    type="button" aria-label="Add">
                                    <md-icon class=" material-icons" role="img" aria-hidden="true">edit</md-icon>
                                    Edit
                                </button>
                                <button ng-click="deleteEquipment(data)" class=" md-primary md-button"
                                    type="button" aria-label="Remove">
                                    <md-icon class="material-icons" role="img" aria-hidden="true">delete</md-icon>
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="[10, 15, 50, 100]" md-page="query.page" md-total="{{equipments.count}}" md-page-select="true">
            </md-table-pagination>
        </md-card-content>
    </md-card>    
</div>
