<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">
            <a href="index.html#!/equipments" >
                <i class="icon-angle-left"></i>
            </a>
            Add/Modify an equipment
        </h1>
    </div>  
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>   
    <md-card ng-show="!loading">
        <md-card-title translate>General Informations</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column" class="flex flex-col">
                <md-input-container class="md-block md-input-has-value" flex = "30">
                    <md-switch ng-model="equipment.inService" aria-label="In service ?">
                        In service ?
                    </md-switch>
                </md-input-container> 
                <md-input-container class="md-block md-input-has-value" flex = "70" ng-if="!equipment.inService">
                    <br><label translate>Status</label>
                    <md-radio-group ng-model="equipment.equipmentStatus" layout="row" required>
                        <md-radio-button value="0" class="md-primary" >Defective</md-radio-button>
                        <md-radio-button value="1" class="md-primary" >Tranfered</md-radio-button>
                        <md-radio-button value="2" class="md-primary" >Disposed</md-radio-button>  
                    </md-radio-group>
                    <div ng-messages="form.property.$error">
                        <div ng-message="required" translate>Please choose an equipment status.</div>
                    </div>
                </md-input-container>  
            </div>   
            <div layout="row" layout-xs="column" class="flex flex-col">
                <md-input-container class="md-block" flex-gt-sm flex="50">
                    <label translate>Serial Number</label>
                    <input ng-model="equipment.serialNumber">
                </md-input-container>
                <md-input-container  class="md-block" flex-gt-sm  flex="50">
                    <label translate>Designation</label>
                    <input ng-model="equipment.designation">
                </md-input-container>                
            </div>
            <div layout="row" layout-xs="column" class="flex flex-col">
                <md-input-container class="md-block" flex="33">
                    <label translate>Type</label>
                    <md-select ng-model="equipment.equipmentType.id" >
                        <md-option ng-repeat="t in equipmentTypes" ng-value="t.id">
                            {{t.typeName}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex="33">
                    <label translate>Department</label>
                    <md-select ng-model="equipment.department.id" >
                        <md-option ng-repeat="d in departments" ng-value="d.id">
                            {{d.departmentName}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container  class="md-block" flex="33">
                    <label translate>Localization</label>
                    <input ng-model="equipment.localization">
                </md-input-container>
            </div>    
            <div layout="row" layout-xs="column">             
                <md-input-container class="md-block md-input-has-value">
                    <label translate>Operating state</label>
                    <md-radio-group ng-model="equipment.operatingState" layout="row" name="property" required>
                        <md-radio-button value="1" class="md-primary" >Well</md-radio-button>
                        <md-radio-button value="2" class="md-primary" >Defective</md-radio-button>
                        <md-radio-button value="0" class="md-primary" >Out of order</md-radio-button>
                    </md-radio-group>
                    <div ng-messages="form.property.$error">
                        <div ng-message="required" translate>Please choose an operating state.</div>
                    </div>
                </md-input-container>                            
            </div>     
            <div layout="row" layout-xs="column" class="flex flex-col">                                        
                <md-input-container class="md-block md-input-has-value" flex="33">
                    <label translate>Acquisition date</label>
                    <input type="date" ng-model="equipment.acquisitionDate"/>
                </md-input-container> 
                <md-input-container  class="md-block" flex-gt-sm flex="33">
                    <label translate>Year of commissionning</label>
                    <input type="number" ng-model="equipment.commisionningYear">
                </md-input-container>
                <md-input-container  class="md-block" flex-gt-sm flex="33">
                    <label translate>Acquisition Value</label>
                    <input type="number" ng-model="equipment.acquisitionValue">
                </md-input-container>
            </div>    
            <div layout="row" layout-xs="column">                                        
                <md-input-container  class="md-block" flex-gt-sm>
                    <label translate>Comments</label>
                    <textarea ng-model="equipment.comments"></textarea>
                </md-input-container>
            </div>               
        </md-card-content>
    </md-card>   
    <md-card ng-show="!loading">
        <md-card-title>Inventory</md-card-title>
        <md-card-content>
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block md-input-has-value">
                    <label translate>Tracking</label>
                    <md-radio-group ng-model="equipment.tracking" layout="row" name="property" required>
                        <md-radio-button value="1" class="md-primary" >By unique serial number</md-radio-button>
                        <md-radio-button value="2" class="md-primary" >By lots</md-radio-button>
                        <md-radio-button value="0" class="md-primary" >No tracking</md-radio-button>
                    </md-radio-group>
                    <div ng-messages="form.property.$error">
                        <div ng-message="required" translate>Please choose a tracking option.</div>
                    </div>
                </md-input-container>
            </div>    
            <div layout="row" layout-xs="column">
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Weight</label>
                    <input type="number" ng-model="equipment.equipmentWeight" >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label translate>Volume</label>
                    <input type="number" ng-model="equipment.volume" >
                </md-input-container>
            </div>        
        </md-card-content>
    </md-card>  
    <div layout="row" layout-xs="column" ng-show="!loading">
        <md-button class="md-raised md-primary" aria-label="Add" ng-click="saveEquipment()">
            <md-icon>save</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Save</span>
            </md-tooltip>
            Save
        </md-button>
    </div> 
</div>
