<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{appTitle}}</h1>
        <md-button class="md-raised md-primary" aria-label="Add">
            <md-icon>build</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Perform a maintenance on this equipment</span>
            </md-tooltip>
            Do maintenance
        </md-button>
    </div>

    <form name="drugForm" ng-submit="save()">
        <!-- General Informations section -->
        <md-card>
            <md-card-title translate>General Informations</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex>
                        <label translate>Equipment name</label>
                        <input ng-model="equipment.designation" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Serial Number</label>
                        <input ng-model="equipment.serialNumber">
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Equipment type</label>
                        <md-select ng-model="equipment.equipmentType">
                            <md-option ng-repeat="t in equipmentTypes" ng-value="t.id">
                                {{t.typeName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Model</label>
                        <input ng-model="equipment.model" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Supplier</label>
                        <input ng-model="equipment.model" required>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Required power</label>
                        <input ng-model="equipment.power" required>
                    </md-input-container>
                    <md-input-container class="md-block md-input-has-value" flex>
                        <label translate>After sale service</label>
                        <md-switch ng-model="equipment.inService" aria-label="After sale service ?">
                            After sale service ?
                        </md-switch>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Person responsible of the equipment</label>
                        <input ng-model="equipment.power" required>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <!-- Use section -->
        <md-card>
            <md-card-title translate>Use</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Equipment user</label>
                        <input ng-model="equipment.equipmentUser" required>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Service status</label>
                        <md-select ng-model="equipment.serviceStatus">
                            <md-option ng-repeat="e in equipmentStatus" ng-value="e.id">
                                {{e.equipmentStatusName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Replacement components</label>
                        <md-select ng-model="equipment.replacementComponent">
                            <md-option ng-repeat="r in replacements" ng-value="r.id">
                                {{r.replacementName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Explain</label>
                        <input ng-model="equipment.yesExplain" required>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Disposable manuals</label>
                        <input ng-model="equipment.disposable" required>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <!-- Localisation section -->
        <md-card>
            <md-card-title translate>Localisation</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Country region</label>
                        <md-select ng-model="equipment.country">
                            <md-option ng-repeat="c in countries" ng-value="c.id">
                                {{c.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Country sanitary district</label>
                        <md-select ng-model="equipment.countrySanitary">
                            <md-option ng-repeat="s in sanitaries" ng-value="s.id">
                                {{s.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>HD/C SI</label>
                        <md-select ng-model="equipment.hdcsi">
                            <md-option ng-repeat="h in hdcsis" ng-value="h.id">
                                {{h.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Departement HD/C SI</label>
                        <md-select ng-model="equipment.departementhdcsi">
                            <md-option ng-repeat="d in departementhdcsis" ng-value="d.id">
                                {{d.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Site in departement</label>
                        <md-select ng-model="equipment.siteDepartement">
                            <md-option ng-repeat="s in siteDepartements" ng-value="s.id">
                                {{s.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <!-- Acquisition section -->
        <md-card>
            <md-card-title translate>Acquisition</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block md-input-has-value">
                        <label translate>Acquisition date</label>
                        <input type="date" ng-model="equipment.acquisitionDate" />
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Year of commissionning</label>
                        <input type="number" ng-model="equipment.commisionningYear">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Acquisition value</label>
                        <input ng-model="equipment.acquisitionValue" required>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex>
                        <label translate>Acquisition mode</label>
                        <md-select ng-model="equipment.acquisitionMode">
                            <md-option ng-repeat="a in acquisitionModes" ng-value="a.id">
                                {{a.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <!-- Inventory section -->
        <md-card>
            <md-card-title>Inventory</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block md-input-has-value">
                        <label translate>Tracking</label>
                        <md-radio-group ng-model="equipment.tracking" layout="row" name="property" required>
                            <md-radio-button value="1" class="md-primary">By unique serial number</md-radio-button>
                            <md-radio-button value="2" class="md-primary">By lots</md-radio-button>
                            <md-radio-button value="0" class="md-primary">No tracking</md-radio-button>
                        </md-radio-group>
                        <div ng-messages="form.property.$error">
                            <div ng-message="required" translate>Please choose a tracking option.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex>
                        <label translate>Weight (Klg)</label>
                        <input type="number" ng-model="equipment.equipmentWeight">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Volume (cubic meters)</label>
                        <input type="number" ng-model="equipment.volume">
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>

        <div layout="row" layout-xs="column">
            <md-button class="md-raised md-primary" type="submit" aria-label="Add">
                <md-icon>save</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Save</span>
                </md-tooltip>
                Save
            </md-button>
            <a href="index.html#!/equipments">
                <md-button aria-label="Add">
                    <md-icon>cencel</md-icon>
                    <span translate>Cencel</span>
                </md-button>
            </a>
        </div>

    </form>
</div>


<!-- <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Equipment type</label>
                        <md-select ng-model="equipment.equipmentType">
                            <md-option ng-repeat="t in equipmentTypes" ng-value="t.id">
                                {{t.typeName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Department</label>
                        <md-select ng-model="equipment.department">
                            <md-option ng-repeat="d in departments" ng-value="d.id">
                                {{d.departmentName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label translate>Site</label>
                            <input ng-model="equipment.localization">
                        </md-input-container>
                    </md-input-container>
                </div> 

                <div layout="row" layout-xs="column">
                     <md-input-container class="md-block md-input-has-value" flex>
                        <label translate>Status</label>
                        <md-switch ng-model="equipment.inService" aria-label="In service ?">
                            In service ?
                        </md-switch>
                    </md-input-container> 
                    <md-input-container class="md-block md-input-has-value" flex>
                        <label translate>Operating state</label>
                        <md-radio-group ng-model="equipment.equipmentStatus" layout="row" name="property" required>
                            <md-radio-button value="1" class="md-primary">Well</md-radio-button>
                            <md-radio-button value="2" class="md-primary">Defective</md-radio-button>
                            <md-radio-button value="3" class="md-primary">Out of order</md-radio-button>
                        </md-radio-group>
                        <div ng-messages="form.property.$error">
                            <div ng-message="required" translate>Please choose an operating state.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block md-input-has-value" flex="50">
                        <label translate>Acquisition date</label>
                        <input type="date" ng-model="equipment.acquisitionDate" />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm flex="50">
                        <label translate>Year of commissionning</label>
                        <input type="number" ng-model="equipment.commisionningYear">
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label translate>Comments</label>
                        <textarea ng-model="equipment.comments"></textarea>
                    </md-input-container>
                </div>
            </md-card-content> -->