<div id="content" class="container-fluid">
    <div class="md-toolbar-tools">
        <h1 md-truncate="" flex="">{{appTitle}}</h1>
        <md-button class="md-raised md-primary" aria-label="Add" ng-if="equipment.uuid">
            <md-icon>build</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Perform a maintenance on this equipment</span>
            </md-tooltip>
            <span translate>New maintenance</span>
        </md-button>
    </div>

    <form name="drugForm" ng-submit="save()">
        <!-- General Informations section -->
        <md-card>
            <md-card-title translate>General Informations</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex>
                        <label translate>Equipment name</label>
                        <input ng-model="equipment.name" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Serial Number</label>
                        <input ng-model="equipment.serialNumber" required>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Equipment type</label>
                        <md-select ng-model="equipment.equipmentType" required>
                            <md-option ng-repeat="t in equipmentTypes" ng-value="t.id">
                                {{t.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Model</label>
                        <input ng-model="equipment.model">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Supplier</label>
                        <input ng-model="equipment.supplier">
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Required power</label>
                        <input ng-model="equipment.power">
                    </md-input-container>
                    <md-input-container class="md-block md-input-has-value" flex>
                        <label translate>After sale service</label>
                        <md-switch ng-model="equipment.aftersaleservice" aria-label="After sale service">
                            <span translate>After sale service</span>
                        </md-switch>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Person responsible of the equipment</label>
                        <input ng-model="equipment.responsibleperson">
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <!-- Use section -->
        <md-card>
            <md-card-title translate>Use</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Equipment user</label>
                        <input ng-model="equipment.useraffectedto">
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Service status</label>
                        <md-select required ng-model="equipment.serviceStatus">
                            <md-option ng-repeat="e in equipmentServices" ng-value="e.id">
                                {{e.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Replacement components</label>
                        <md-select ng-model="equipment.replacementcomponent"
                            ng-change="ReplacementChanged(equipment.replacementcomponent)">
                            <md-option ng-repeat="r in replacementComponents" ng-value="r.id">
                                {{r.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" ng-class="{hide: equipment.replacementcomponent!=1}" flex>
                        <label translate>Explain</label>
                        <input ng-model="equipment.explainMore">
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Disposable manuals</label>
                        <md-select ng-model="equipment.manuals">
                            <md-option ng-repeat="d in disposableManuals" ng-value="d.id">
                                {{d.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <!-- Localisation section -->
        <md-card>
            <md-card-title translate>Localisation</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Country region</label>
                        <md-select required ng-model="equipment.country" ng-change="regionChanged(equipment.country)">
                            <md-option ng-repeat="c in allRegions" ng-value="c.addressHierarchyEntryId">
                                {{c.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Country sanitary district</label>
                        <md-select required ng-model="equipment.countrySanitary"
                            ng-change="districtChanged(equipment.countrySanitary)">
                            <md-option ng-repeat="s in districts" ng-value="s.id">
                                {{s.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>HD/C SI</label>
                        <md-select required ng-model="equipment.hdcsi" ng-change="healthCenterChanged(equipment.hdcsi)">
                            <md-option ng-repeat="h in healthCenters" ng-value="h.id">
                                {{h.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block" flex>
                        <label translate>Departement HD/C SI</label>
                        <md-select required ng-model="equipment.departementhdcsi"
                            ng-change="departementChanged(equipment.departementhdcsi)">
                            <md-option ng-repeat="d in services" ng-value="d.id">
                                {{d.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Site in departement</label>
                        <md-select required ng-model="equipment.site">
                            <md-option ng-repeat="s in sites" ng-value="s.id">
                                {{s.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <!-- Acquisition section -->
        <md-card>
            <md-card-title translate>Acquisition</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column" class="flex flex-col">
                    <md-input-container class="md-block md-input-has-value">
                        <label translate>Acquisition date</label>
                        <input type="date" ng-model="equipment.acquisitionDate" />
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Year of commissioning</label>
                        <input ng-model="equipment.commisionningYear">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Acquisition value</label>
                        <input type="number" ng-model="equipment.acquisitionValue">
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex>
                        <label translate>Acquisition mode</label>
                        <md-select ng-model="equipment.acquisitionMode">
                            <md-option ng-repeat="a in acquisitionModes" ng-value="a.id">
                                {{a.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <!-- Inventory section -->
        <md-card>
            <md-card-title translate>Inventory</md-card-title>
            <md-card-content>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block md-input-has-value">
                        <label translate>Tracking</label>
                        <md-radio-group ng-model="equipment.tracking" layout="row" name="property" required>
                            <md-radio-button value="1" class="md-primary"><span translate>By unique serial number</span>
                            </md-radio-button>
                            <md-radio-button value="2" class="md-primary"><span translate>By lots</span>
                            </md-radio-button>
                        </md-radio-group>
                        <div ng-messages="form.property.$error">
                            <div ng-message="required" translate>Please choose a tracking option.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container class="md-block" flex>
                        <label translate>Weight (Kg)</label>
                        <input type="number" ng-model="equipment.weight">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label translate>Volume (cubic meters)</label>
                        <input type="number" ng-model="equipment.volume">
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
        <div layout="row" layout-xs="column">
            <md-button class="md-raised md-primary" type="submit" aria-label="Add">
                <md-icon>save</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Save</span>
                </md-tooltip>
                <span translate>Save</span>
            </md-button>
            <a href="index.html#!/equipments">
                <md-button aria-label="Add">
                    <md-icon>cancel</md-icon>
                    <span translate>Cancel</span>
                </md-button>
            </a>
        </div>

    </form>
</div>